/* common codes start */
:root {
    --light-color: #fff;
    --dark-color: #040404;
    --primary-color: #51B56D;
    --secondary-color: #386b44;
    --text-color: #888888;

}

@font-face {
    font-family: RubikR;
    src: url(../fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: RubikB;
    src: url(../fonts/Rubik-Bold.ttf);
}

.text-rubik {
    font-family: RubikR;
}

.text-rubikb {
    font-family: RubikB;
}

.dark-text {
    color: var(--dark-color);
}

.primary-text {
    color: var(--primary-color);
}

.text-text {
    color: var(--text-color);
}

.btn {
    border: 0;
}

.btn-primary {
    background: #51B56D;
    color: #fff;
    border-color: #51B56D;
    transition: .5s linear;
}

.btn-outline-primary {
    background: #e0f2e5;
    color: #3f9457;
    transition: .5s linear;
}

.btn-primary:hover {
    background: var(--secondary-color);
}

.btn-outline-primary:hover {
    background: var(--primary-color);

}

.shadow-lg-hover {
    transition: box-shadow 0.3s ease-in-out;
}

.shadow-lg-hover:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.bg-subtle {
    background-color: rgba(226, 227, 229, .2);
}

/* common codes end */


/* navbar section start */
#navbar .nav-link {
    color: var(--dark-color);
    font-weight: 600;
    margin: 0 20px;
}

#navbar .nav-item {
    position: relative;
    transition: .3s ease-in-out;

    &::after {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        content: "";
        background-color: var(--primary-color);
        transition: .3s ease-in-out;
    }

    &:hover {
        & .nav-link {
            color: var(--primary-color);
        }

        &::after {
            width: 100%;
        }
    }
}

#navbar .nav-btn a {
    font-weight: 600;
}


/* Ensures the dropdown is hidden by default */
.nav-item.dropdown .dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Shows the dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;

    & .dropdown-item:hover {
        color: var(--primary-color);
    }
}

#navbar .dropdown-item {
    font-weight: 600;
    padding: 5px 0;
}

/* navbar section end */

/* header section start */
#header {
    & .title {
        & h1 {
            color: var(--dark-color);
        }

        & p {
            color: var(--text-color);
        }

        & a {
            font-weight: 600;
        }
    }
}

/* header section end */

/* service section start */
.service-content {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 30px 50px;

    & h1 {
        transition: .3s ease-in-out;
    }

    &:hover {
        & h1 {
            color: var(--primary-color);
        }
    }

    & span {
        display: inline-block;
        height: 70px;
        width: 70px;
        line-height: 70px;
        border-radius: 8px;
        background-color: rgba(81, 181, 109, 0.2);
    }

    &:nth-child(even) {

        & span {
            color: #917AEB;
            background-color: rgba(145, 122, 235, 0.2);
        }
    }
}


/* service section end */

/* difference section start */
.difference-content {
    background-color: transparent;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: none;

    &:hover {
        background-color: #ffffff;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    & i {
        display: inline-block;
        color: var(--primary-color);
        padding: 20px;
        border-radius: 8px;
        background-color: rgba(81, 181, 109, 0.2);
    }

    &:nth-child(odd) {

        & i {
            color: #917AEB;
            background-color: rgba(145, 122, 235, 0.2);
        }
    }

}

.icon {
    width: 70px;
    height: 70px;
}

/* difference section end */

/* difference-navTabs section start */
#difference-navTabs {
    .container {
        background: linear-gradient(to bottom, rgba(226, 227, 229, 0.2) 60%, var(--light-color) 60%);
    }

    .nav-item {
        padding: 0 20px;
    }

    .nav-link {
        padding: 10px 20px;
        color: #233242;
        font-weight: 600;
        transition: .3s linear;

        &:hover {
            color: var(--primary-color);
            background: rgba(81, 181, 109, .2);
        }

        &.active {
            color: var(--light-color);
            background: var(--primary-color);
        }
    }

    .tab-content {
        background: var(--light-color);
        border-radius: 8px;
    }
}

/* difference-navTabs section end */

/* feedback section start */
#feedback {
    .card {
        border: none;

        & p {
            margin: 0;
        }

        & a {
            text-decoration: none;
            color: var(--primary-color);
            border-bottom: 1px dotted #51B56D;
        }
    }
}

/* feedback section end */

/* faq section start */
#faq {
    .accordion-button:not(.collapsed) {
        color: var(--dark-color);
        background-color: var(--light-color);
        box-shadow: none;
    }

    .accordion-button {
        color: var(--dark-color);
    }

    .accordion-item {
        color: var(--text-color);
        border: none;
        line-height: 1.5;
    }

    .contact {

        & a {
            text-decoration: none;
            color: var(--primary-color);
            border-bottom: 1px dotted #51B56D;
        }

    }
}

/* faq section end */